{
  "openapi": "3.0.3",
  "info": {
    "title": "Mini-STESY Integration API",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://mini-stesy.monitoring4system.com", "description": "Production" },
    { "url": "http://localhost:8000", "description": "Local development" }
  ],
  "tags": [
    { "name": "Logger", "description": "Data historis dan snapshot logger" }
  ],
  "security": [{ "BasicAuth": [] }],
  "paths": {
    "/api/integrasi": {
      "get": {
        "tags": ["Logger"],
        "summary": "Riwayat terbaru satu logger",
        "description": "Maksimal 300 baris terakhir, terbaru dulu, beserta lokasi, jenis, dan status koneksi logger.\n\nHanya logger dalam hak akses kredensial yang dipakai. Selain itu dijawab `404 Logger Tidak Terdaftar`.",
        "parameters": [{ "$ref": "#/components/parameters/IdLogger" }],
        "responses": {
          "200": {
            "description": "Riwayat logger",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Riwayat" },
                "example": {
                  "status": true,
                  "id_logger": "10371",
                  "nama_lokasi": "Bendung Mojolaban",
                  "jenis": "AWLR",
                  "latitude": -7.797068,
                  "longitude": 110.370529,
                  "koneksi_logger": "On",
                  "waktu_terakhir": "2026-09-10 09:30:00",
                  "parameter": [
                    { "nama_parameter": "Tinggi Muka Air", "satuan": "m", "kunci": "tinggi_muka_air" },
                    { "nama_parameter": "Debit", "satuan": "m3/s", "kunci": "debit" }
                  ],
                  "jumlah_data": 2,
                  "data": [
                    { "waktu": "2026-09-10 09:30:00", "tinggi_muka_air": 1.35, "debit": 0.512 },
                    { "waktu": "2026-09-10 09:20:00", "tinggi_muka_air": 1.32, "debit": 0.498 }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/LoggerTidakTerdaftar" }
        }
      }
    },
    "/api/integrasi/all_logger": {
      "get": {
        "tags": ["Logger"],
        "summary": "Snapshot seluruh logger yang boleh diakses",
        "description": "Nilai terakhir setiap parameter untuk semua logger dalam hak akses kredensial yang dipakai, diurutkan `id_logger`.\n\n**Endpoint ini sekaligus daftar hak akses logger kredensial tersebut** — tidak ada endpoint terpisah untuk itu.",
        "responses": {
          "200": {
            "description": "Snapshot semua logger",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SnapshotSemua" },
                "example": {
                  "status": true,
                  "jumlah_logger": 2,
                  "data": [
                    {
                      "id_logger": "10364",
                      "nama_lokasi": "Bendung Colo",
                      "jenis": "AWLR",
                      "latitude": -7.712345,
                      "longitude": 110.812345,
                      "koneksi_logger": "On",
                      "waktu": "2026-09-10 09:45:00",
                      "data": [
                        { "nama_parameter": "Tinggi Muka Air", "satuan": "m", "nilai": 1.07 },
                        { "nama_parameter": "Debit", "satuan": "m3/s", "nilai": 0.05 }
                      ]
                    },
                    {
                      "id_logger": "10371",
                      "nama_lokasi": "Bendung Mojolaban",
                      "jenis": "AWLR",
                      "latitude": -7.797068,
                      "longitude": 110.370529,
                      "koneksi_logger": "Off",
                      "waktu": "2026-09-10 06:10:00",
                      "data": [
                        { "nama_parameter": "Tinggi Muka Air", "satuan": "m", "nilai": 1.35 }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/integrasi/range_tanggal": {
      "get": {
        "tags": ["Logger"],
        "summary": "Riwayat logger berdasarkan rentang tanggal",
        "description": "Bentuk responsnya sama dengan `GET /api/integrasi`, hanya rentang waktunya yang ditentukan pemanggil. `awal` dibaca dari pukul 00:00 dan `akhir` sampai 23:59:59.\n\nRentang maksimal **31 hari** dan 5000 baris per panggilan. Lebih lebar dari itu dijawab `422`.",
        "parameters": [
          { "$ref": "#/components/parameters/IdLogger" },
          {
            "name": "awal",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date" },
            "description": "Tanggal awal, format `Y-m-d`",
            "example": "2026-09-01"
          },
          {
            "name": "akhir",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date" },
            "description": "Tanggal akhir, format `Y-m-d`. Tidak boleh lebih awal dari `awal`.",
            "example": "2026-09-10"
          }
        ],
        "responses": {
          "200": {
            "description": "Riwayat logger pada rentang tanggal",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Riwayat" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/LoggerTidakTerdaftar" },
          "422": {
            "description": "Rentang lebih dari 31 hari, tanggal tidak valid, atau `akhir` lebih awal dari `awal`",
            "content": {
              "application/json": {
                "examples": {
                  "terlalu_lebar": {
                    "value": { "status": false, "pesan": "Rentang tanggal maksimal 31 hari." }
                  },
                  "format_salah": {
                    "value": {
                      "message": "The awal field must match the format Y-m-d.",
                      "errors": { "awal": ["The awal field must match the format Y-m-d."] }
                    }
                  }
                },
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Username dan password akun `t_user`. Kredensial yang dipakai menentukan logger mana yang bisa ditarik. Kredensial tidak disimpan di halaman dokumentasi ini."
      }
    },
    "parameters": {
      "IdLogger": {
        "name": "id_logger",
        "in": "query",
        "required": true,
        "schema": { "type": "string" },
        "description": "`id_logger` pada tabel `t_logger`. Di luar hak akses kredensial dijawab `404`.",
        "example": "10371"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Kredensial tidak ada, salah, atau akunnya `suspend` / `non-aktif`",
        "headers": {
          "WWW-Authenticate": {
            "schema": { "type": "string", "example": "Basic realm=\"Mini-STESY Integrasi\"" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Gagal" },
            "examples": {
              "kredensial": { "value": { "status": false, "pesan": "Kredensial tidak valid." } },
              "nonaktif": { "value": { "status": false, "pesan": "Akun tidak aktif. Hubungi Administrator." } }
            }
          }
        }
      },
      "LoggerTidakTerdaftar": {
        "description": "`id_logger` tidak ada **atau** di luar hak akses kredensial. Kedua sebab memberi respons yang sama.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Gagal" },
            "example": { "status": false, "pesan": "Logger Tidak Terdaftar" }
          }
        }
      }
    },
    "schemas": {
      "Gagal": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean", "example": false },
          "pesan": { "type": "string" }
        }
      },
      "ParameterRiwayat": {
        "type": "object",
        "description": "Keterangan kolom yang muncul di setiap baris `data`",
        "properties": {
          "nama_parameter": { "type": "string", "example": "Tinggi Muka Air" },
          "satuan": { "type": "string", "nullable": true, "example": "m" },
          "kunci": {
            "type": "string",
            "example": "tinggi_muka_air",
            "description": "Nama field parameter ini di dalam baris `data`. Diturunkan dari `nama_parameter`; bila ada dua parameter bernama sama, kolom sensornya ikut disisipkan agar tidak saling menimpa."
          }
        }
      },
      "Riwayat": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean", "example": true },
          "id_logger": { "type": "string", "example": "10371" },
          "nama_lokasi": {
            "type": "string",
            "nullable": true,
            "description": "Nama pos dari `t_lokasi`, jatuh ke `nama_logger` bila lokasinya belum diisi"
          },
          "jenis": { "type": "string", "nullable": true, "example": "AWLR", "description": "Nama kategori logger" },
          "latitude": { "type": "number", "nullable": true },
          "longitude": { "type": "number", "nullable": true },
          "koneksi_logger": {
            "type": "string",
            "enum": ["On", "Off"],
            "description": "`On` bila data terakhir kurang dari 60 menit lalu"
          },
          "waktu_terakhir": { "type": "string", "nullable": true, "example": "2026-09-10 09:30:00" },
          "parameter": { "type": "array", "items": { "$ref": "#/components/schemas/ParameterRiwayat" } },
          "jumlah_data": { "type": "integer", "example": 2 },
          "data": {
            "type": "array",
            "description": "Terbaru dulu. Setiap baris berisi `waktu` ditambah satu field per parameter, memakai `kunci` dari daftar `parameter`.",
            "items": {
              "type": "object",
              "properties": { "waktu": { "type": "string", "example": "2026-09-10 09:30:00" } },
              "additionalProperties": { "type": "number", "nullable": true }
            }
          }
        }
      },
      "SnapshotSemua": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean", "example": true },
          "jumlah_logger": { "type": "integer", "example": 2 },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/SnapshotLogger" } }
        }
      },
      "SnapshotLogger": {
        "type": "object",
        "properties": {
          "id_logger": { "type": "string", "example": "10371" },
          "nama_lokasi": { "type": "string", "nullable": true },
          "jenis": { "type": "string", "nullable": true, "example": "AWLR" },
          "latitude": { "type": "number", "nullable": true },
          "longitude": { "type": "number", "nullable": true },
          "koneksi_logger": { "type": "string", "enum": ["On", "Off"] },
          "waktu": { "type": "string", "nullable": true, "description": "Waktu snapshot terakhir, `null` bila logger belum pernah mengirim data" },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "nama_parameter": { "type": "string", "example": "Tinggi Muka Air" },
                "satuan": { "type": "string", "nullable": true, "example": "m" },
                "nilai": { "type": "number", "nullable": true, "example": 1.35 }
              }
            }
          }
        }
      }
    }
  }
}
